#postFormPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

#postForm{
    display: flex;
    flex-direction: column;
    width: 750px;
    gap: 10px;
}

#titleInput{
    border: 1px solid #d4d4d4;
    height: 40px;
    padding: 0px 5px;
    font-size: 1.2rem;
}

#textPostInput{
    border: 1px solid #d4d4d4;
    padding: 5px;
    height: 75vh;
    font-size: 1rem;
}

#titleInput:focus,
#textPostInput:focus{
    outline: none;
    border: 2px solid #4f46e5;
}

